@using TechExchangeApp.ViewModel
@model ForumDetailVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mainDomain = ViewBag.MainDomain as string;
}

<div class="columns-container">
    <div class="container" id="columns">
       
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-md-3" id="left_column">
                <!-- block category -->
               <div class="block left-module">
                    <p class="title_block">
                        <a href="@(mainDomain)thao-luan-cong-nghe" style="color:white">Lĩnh vực công nghệ thiết bị</a>
                    </p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    @foreach (var cat in Model.Categories)
                                    {
                                        <li class="active"><span></span>
                                            <a href="@cat.Url">@cat.Title</a>
                                        </li>
                                    }
                                </ul>    
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  --> 
                
                 <!-- Thanh vien tich cu -->
                <div class="block left-module">
                    <!-- PortletNhieunhat -->
                    @if (Model.PortletNhieuNhat != null)
                    {
                        <div class="block-content">
                             <h4 class="title_block">Thành viên tích cực</h4>
                             <div class="block_content">
                                 <ul class="list-block list-group list-blog">
                                     <!-- TAB 1: Hoi Nhieu -->
                                     <li style="border-bottom: 1px solid #eaeaea; margin-bottom: 10px;">
                                         <b>Hỏi nhiều</b>
                                         <ul>
                                             @foreach(var item in Model.PortletNhieuNhat.HoiNhieu)
                                             {
                                                 <li>
                                                     <i class="fa fa-angle-right"></i> @item.FullName (@item.CountyCTB)
                                                 </li>
                                             }
                                         </ul>
                                     </li>
                                     <!-- TAB 2: Tra Loi Nhieu -->
                                     <li>
                                         <b>Trả lời nhiều</b>
                                          <ul>
                                             @foreach(var item in Model.PortletNhieuNhat.TraLoiNhieu)
                                             {
                                                 <li>
                                                     <i class="fa fa-angle-right"></i> @item.Name (@item.CountyCTB)
                                                 </li>
                                             }
                                         </ul>
                                     </li>
                                 </ul>
                             </div>
                        </div>
                    }
                 </div>
                <!-- ./Het Thanh Vien tich cuc -->
                               
            </div>
            <!-- ./left colunm -->
            
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-md-9" id="center_column">
                <!-- Product -->
                
                    <div id="product">
                        <div class="product-images images zoom-enabled pic-pro img-box row" >
                           
                            <div hidden class="pb-left-column col-xs-12 col-sm-6">
                                <!-- product-imge-->
                                <div class="product-image">
                                    <div class="product-full">
                                        <a class="simpleLens-lens-image" href="javascript:void(0);">
                                            <img src="@Model.HinhDaiDien" class="simpleLens-big-image img-responsive" style="max-width:100%"/>
                                        </a>
                                    </div>
                                </div>
                                <!-- product-imge-->
                            </div>
                           
                            <div class="pb-right-column col-xs-12 col-sm-12">
                                <h1 class="product-name">@Model.Title</h1>
                                <div>
                                    <span class="author">
                                                <i class="fa fa-user"></i>
                                                @Model.Viewed
                                                <i class="fa fa-thumbs-up" style="margin-left:10px;"></i>
                                                @Model.Like
                                    </span>  
                                </div>
                                <div class="product-desc">
                                    <p>@Html.Raw(Model.Content)</p>
                                    <p>Người đăng tin: @Model.FullName
                                       -  @Model.CreatedDateText
                                       
                                       <br/>
                                       @if (!Model.IsLoggedIn)
                                       {
                                           <a href="@(mainDomain)dang-nhap" style="font-style:italic">Đăng nhập để xem thông tin liên hệ</a>
                                       }
                                       else
                                       {
                                            @if(!string.IsNullOrEmpty(Model.Phone)) 
                                            {
                                                <span style="font-style:italic; margin-right:10px;"><i class="fa fa-phone"></i> @Model.Phone</span>
                                            }
                                            @if(!string.IsNullOrEmpty(Model.Email)) 
                                            {
                                                <span style="font-style:italic"><i class="fa fa-envelope"></i> @Model.Email</span>
                                            }
                                            @if(!string.IsNullOrEmpty(Model.TenDonVi))
                                            {
                                                 <br/><span>@Model.TenDonVi</span>
                                            }
                                            @if(!string.IsNullOrEmpty(Model.DiaChi))
                                            {
                                                 <br/><span>@Model.DiaChi</span>
                                            }
                                       }
                                    </p>
                                </div>
                                
                               
                                <div class="form-share">
                                    <form asp-action="Like" asp-route-id="@Model.Id" method="post" id="formLike">
                                        <div class="post-share" id="divLike">
                                            <button type="submit" class="btn btn-default" style="color: #3399ff; border: 1px solid #ccc;">
                                                 <i class="fa fa-thumbs-up"> </i> Thích 
                                            </button>
                                            <button type="button" class="btn btn-default btn-report-violation" style="color: #d9534f; border-color: #d9534f;"
                                                    data-target-datatype="Forum"
                                                    data-target-id="@Model.Id"
                                                    data-target-title="@Model.Title"
                                                    data-target-url="@Context.Request.Path">
                                                <i class="fa fa-flag"></i> Bao cao vi pham
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- tab product -->
                        <div style ="clear:both"></div>
                        
                        <!-- Comment Section (Placeholder) -->
                        <div class="comment-section mt-4 mb-4">
                             <!-- uc2:Comment implementation would go here -->
                        </div>

                        <!-- ./tab product -->
                        <!-- box product -->
                        <div class="page-product-box">
                            <h3 class="heading">PHIẾU YÊU CẦU SẢN PHẨM KHÁC</h3>
                            <div class="tab-container">
                                    <div id="tab-1" class="tab-panel active">
                                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                            @foreach (var item in Model.RelatedItems)
                                            {
                                                <li>
                                                    <div class="product-containerYC">
                                                        <div class="left-block">
                                                            <a href="@item.Url">
                                                                <img src="@item.HinhDaiDien" class="img-responsive" alt="@item.Title" style="width:100%; height:auto;" />
                                                            </a>
                                                        </div>
                                                        <div class="right-block">
                                                             <span class="date">
                                                                <h5 class="entry_title">
                                                                    <a href="@item.Url">@item.Title</a><br />
                                                                </h5>
                                                                <div>@Html.Raw(item.AuthorInfo)</div> <!-- Assuming AuthorInfo contains simple text or safe HTML -->
                                                                
                                                                @if (!Model.IsLoggedIn)
                                                                {
                                                                    <!-- Logic from legacy: Visible=false -->
                                                                }
                                                                else 
                                                                {
                                                                     @if(!string.IsNullOrEmpty(item.Phone)) { <div>@item.Phone</div> }
                                                                     @if(!string.IsNullOrEmpty(item.Email)) { <div>@item.Email</div> }
                                                                }
                                                                <!-- Date logic? Legacy says "Đăng ký ngày: ltrCreated" -->
                                                                <!-- We don't have Created in ForumItemVm explicitly aside from AuthorInfo which says "user lúc date" -->
                                                            </span>
                                                         </div>   
                                                     </div>
                                                 </li> 
                                            }
                                        </ul>
                                     </div><!--end tab 1 -->                                 
                              </div>
                        </div>
                        <!-- ./box product -->
                       
                    </div>
                <!-- Product -->
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ReportViolationModal")
    <script>
        $(document).ready(function() {
            // Initialize Owl Carousel if not already automatically initialized by class
            if ($('.owl-carousel').length > 0) {
                $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:30,
                    nav:true,
                    dots: false,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:3
                        }
                    }
                });
            }
        });
    </script>
}
