@* 

<div class="adv-banner left-module">

    <div class="Tiemluc">
        <span class="TitleTiemLuc">CSDL Tiềm lực KH&CN</span>

        <div class="box-adv" style="height: 52px;">
            <a href="@($"{Html.MainDomain()}tiem-luc-KHCN.html?t=dtnc")">
                <img src="@($"{Html.MainDomain()}FrontEnd/assets/images/ico.png")"
                     style="vertical-align: middle; padding-right: 5px" />
                <span class="TitleQuangCaoText">Đề tài nghiên cứu</span>
            </a>
        </div>

        <div class="box-adv" style="height: 52px;">
            <a href="@($"{Html.MainDomain()}tiem-luc-KHCN.html?t=cg")">
                <img src="@($"{Html.MainDomain()}FrontEnd/assets/images/ico.png")"
                     style="vertical-align: middle; padding-right: 5px" />
                <span class="TitleQuangCaoText">Chuyên gia KH&CN</span>
            </a>
        </div>

        <div class="box-adv" style="height: 52px;">
            <a href="@($"{Html.MainDomain()}tiem-luc-KHCN.html?t=ptn")">
                <img src="@($"{Html.MainDomain()}FrontEnd/assets/images/ico.png")"
                     style="vertical-align: middle; padding-right: 5px" />
                <span class="TitleQuangCaoText">Phòng Thí Nghiệm</span>
            </a>
        </div>

        <div class="box-adv" style="height: 52px;">
            <a href="@($"{Html.MainDomain()}tiem-luc-KHCN.html?t=tckhcn")">
                <img src="@($"{Html.MainDomain()}FrontEnd/assets/images/ico.png")"
                     style="vertical-align: middle; padding-right: 5px" />
                <span class="TitleQuangCaoText">Tổ chức KH&CN</span>
            </a>
        </div>

        <div class="box-adv" style="height: 52px;">
            <a href="@($"{Html.MainDomain()}tiem-luc-KHCN.html?t=dnkhcn")">
                <img src="@($"{Html.MainDomain()}FrontEnd/assets/images/ico.png")"
                     style="vertical-align: middle; padding-right: 5px" />
                <span class="TitleQuangCaoText">Doanh nghiệp KH&CN</span>
            </a>
        </div>
    </div>

    <div class="box-adv" style="padding-top:10px;">
        <a href="@($"{Html.MainDomain()}yeu-cau-cong-nghe-67.html")">
            <img src="@($"{Html.MainDomain()}FrontEnd/assets/data/techneed.jpg")" />
        </a>
    </div>

</div>
 *@